<template name="sideMenu_testimonial">
  <div class="col-md-12">
    <div class="well bs-sidebar" id="sideBar">
      <ul class="nav nav-pills nav-stacked">
        <li><label>Name</label>
          <input name="name" type="text" class="form-control">
          <p><button data-action="submitName" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Author</i></button></p></li><br>
        <li><label>Company</label>
          <input name="company" type="text" class="form-control">
          <p><button data-action="submitCompany" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Company</i></button></p></li><br>
        <li><label>Title</label>
          <input name="title" type="text" class="form-control">
          <p><button data-action="submitTitle" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Title</i></button></p></li><br>
        <li><label>Phone</label>
          <input name="phone" type="tel" class="form-control">
          <p><button data-action="submitPhone" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Phone Number</i></button></p></li><br>
        <li><label>Email</label>
          <input name="email" type="email" class="form-control">
          <p><button data-action="submitEmail" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Email</i></button></p></li><br>
      </ul>
    </div>
  </div>
</template>
