<template name="sideMenu_project">
  <div class="col-md-12">
    <div class="well bs-sidebar" id="sideBar">
      <ul class="nav nav-pills nav-stacked">
        <li><label>Client/Company Name</label>
          <input name="clientAdd" type="text" class="form-control">
          <p><button data-action="submitClient" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Client</i></button></p></li><br>
        <li><label>Category</label>
          <input name="categoryAdd" type="text" class="form-control">
          <p><button data-action="submitCategory" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Category</i></button></p></li><br>
        <li><label>Tag</label>
          <input name="tagAdd" type="text" class="form-control">
          <p><button data-action="submitTag" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Tag</i></button></p></li>
      </ul>
    </div>
  </div>
</template>
