<template name="adminCategory">
  <div class="template-adminCategory">

      <div class="row">
        <div class="col-md-6">
          <h3>Categories
            <button class="btn btn-primary pull-right" id="adminCategoryModal_add" data-toggle="modal" data-target="#adminCategoryModal"><i class="fa fa-plus"></i> Add Category</button>
          </h3>
        </div>
      </div><br><br>

      {{#if Template.subscriptionsReady}}

        <div class="row">
          <div class="col-md-6">
            {{#each category}}
              <div class="row">
                <div class="col-md-2">
                  <button class="btn btn-default btn-sm pull-left" id="adminCategoryModal_edit" data-toggle="modal" data-target="#adminCategoryModal"><i class="fa fa-edit"></i> Edit</button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default btn-sm pull-left" id="adminCategoryModal_deleteId" data-toggle="modal" data-target="#adminCategoryModal_delete"><i class="fa fa-trash"></i> Delete</button>
                </div>
                <div class="col-md-8 pull-left">
                  {{name}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>

      {{/if}}

  </div>
  {{> adminCategoryModal}}
  {{> adminCategoryModal_delete}}
</template>
