<template name="adminCategoryModal_delete">
  <!-- Modal -->
  <div class="modal fade" id="adminCategoryModal_delete" tabindex="-1" role="dialog" aria-labelledby="Admin Category" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete Category</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              {{#if Template.subscriptionsReady}}
                {{#with deleteDetails}}
                  <p>Category <strong>{{name}}</strong> will be deleted. This category is associated with <span class="text-primary" data-toggle="tooltip" data-placement="left" title="{{projectNames}}">{{projectCount}} project(s)</span>.</p>
                {{/with}}
              {{/if}}
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-action="delete" data-dismiss="modal">Delete Category</button>
        </div>
      </div>
    </div>
  </div>
</template>
