<template name="projectNew">
  <!-- Modal -->
  <div class="modal fade" id="projectNew_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Project</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            {{#if advancedTab}}
              <div class="col-md-4">
                <p class="left-arrow">Advanced <i class="fa fa-chevron-left"></i></p>
                {{> sideMenu_project}}
              </div>
            {{else}}
              <div class="col-md-2 right-arrow">
                <p>Advanced <i class="fa fa-chevron-right"></i></p>
              </div>
            {{/if}}
            <div class="col-md-8">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <label>Project Name</label>
                    <input id="projectName" type="text" class="form-control">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <label>Client</label>
                    <select id="clientName" class="form-control">
                      <option value=""></option>
                      {{#each client}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Category</label>
                    <select id="categoryName" class="form-control">
                      <option value=""></option>
                      {{#each category}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <label>Start Date</label><br>
                    <input type="text" id="startDatePicker" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label>End Date</label><br>
                    <input type="text" id="endDatePicker" class="form-control">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-12">
                    <label>Tags</label>
                    <select id="tag" class="form-control">
                      <option value=""></option>
                      {{#each tag}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                  </select>
                  </div>
                </div><br>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Project</button>
        </div>
      </div>
    </div>
  </div>
</template>
