<template name="adminTagModal">
  <!-- Modal -->
  <div class="modal fade" id="adminTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{addOrEdit}} Tag</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <label>Tag</label>
                    <input name="tag" type="text" class="form-control">
                  </div>
                </div><br>
              </form>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-action="submit">{{addOrEdit}} Tag</button>
        </div>
      </div>
    </div>
  </div>
</template>
