<template name="adminAuthor">
  <div class="template-adminAuthor">

      <div class="row">
        <div class="col-md-6">
          <h3>Authors
            <button class="btn btn-primary pull-right" id="adminAuthorModal_add" data-toggle="modal" data-target="#adminAuthorModal"><i class="fa fa-plus"></i> Add Author</button>
          </h3>
        </div>
      </div><br><br>

      {{#if Template.subscriptionsReady}}

        <div class="row">
          <div class="col-md-6">
            {{#each author}}
              <div class="row">
                <div class="col-md-2">
                  <button class="btn btn-default btn-sm pull-left" id="adminAuthorModal_edit" data-toggle="modal" data-target="#adminAuthorModal"><i class="fa fa-edit"></i> Edit</button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default btn-sm pull-left" id="adminAuthorModal_deleteId" data-toggle="modal" data-target="#adminAuthorModal_delete"><i class="fa fa-trash"></i> Delete</button>
                </div>
                <div class="col-md-8 pull-left">
                  {{firstName}} {{lastName}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>

      {{/if}}

  </div>
  {{> adminAuthorModal}}
  {{> adminAuthorModal_delete}}
</template>
