<template name="adminSSInputModal">
  <!-- Modal -->
  <div class="modal fade" id="adminSSInputModal" tabindex="-1" role="dialog" aria-labelledby="Admin SSInput" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{addOrEdit}} Success Story Input</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <label>Success Story Input</label>
                    <input name="ques" type="text" class="form-control">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-4">
                    <label>Input Number</label>
                    <input name="num" type="number" min="1" max="750" class="form-control">
                  </div>
                </div><br>
              </form>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-action="submit" data-dismiss="modal">{{addOrEdit}} SS Input</button>
        </div>
      </div>
    </div>
  </div>
</template>
